In [0]:

spark.conf.set("fs.azure.account.auth.type", "OAuth")
spark.conf.set(
  "fs.azure.account.oauth.provider.type",
  "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider"
)
spark.conf.set(
  "fs.azure.account.oauth2.client.id",
  "***"
)
spark.conf.set(
  "fs.azure.account.oauth2.client.secret",
  "***"
)
spark.conf.set(
  "fs.azure.account.oauth2.client.endpoint",
  "https://login.microsoftonline.com/e***/oauth2/token"
)

In [0]:
df_athletes = spark.read.csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/raw-data/athletes.csv",
    header=True,
    inferSchema=True
)

df_athletes.show()

+--------------------+--------------------+-------------------+
|                Name|                 NOC|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
df_coaches = spark.read.csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/raw-data/coaches.csv",
    header=True,
    inferSchema=True
)

df_coaches.show(2)

+---------------+-----+----------+-----+
|           Name|  NOC|Discipline|Event|
+---------------+-----+----------+-----+
|ABDELMAGID Wael|Egypt|  Football| NULL|
|      ABE Junya|Japan|Volleyball| NULL|
+---------------+-----+----------+-----+
only showing top 2 rows

In [0]:
df_entriesgender = spark.read.csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/raw-data/entriesgender.csv",
    header=True,
    inferSchema=True
)

df_entriesgender.show(2)

+--------------+------+----+-----+
|    Discipline|Female|Male|Total|
+--------------+------+----+-----+
|3x3 Basketball|    32|  32|   64|
|       Archery|    64|  64|  128|
+--------------+------+----+-----+
only showing top 2 rows

In [0]:
df_entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
df_medals = spark.read.csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/raw-data/medals.csv",
    header=True,
    inferSchema=True
)

df_medals.show(2)

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
+----+--------------------+----+------+------+-----+-------------+
only showing top 2 rows

In [0]:
df_teams = spark.read.csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/raw-data/teams.csv",
    header=True,
    inferSchema=True
)

df_teams.show(2)

+-------+--------------+--------------------+-----+
|   Name|    Discipline|                 NOC|Event|
+-------+--------------+--------------------+-----+
|Belgium|3x3 Basketball|             Belgium|  Men|
|  China|3x3 Basketball|People's Republic...|  Men|
+-------+--------------+--------------------+-----+
only showing top 2 rows

In [0]:
df_athletes.repartition(1).write.mode("overwrite").option("header",'true').csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/transformed-data/athletes"
)

In [0]:
df_coaches.repartition(1).write.mode("overwrite").option("header",'true').csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/transformed-data/coaches"
)

In [0]:
df_entriesgender.repartition(1).write.mode("overwrite").option("header",'true').csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/transformed-data/entriesgender"
)

In [0]:
df_medals.repartition(1).write.mode("overwrite").option("header",'true').csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/transformed-data/medals"
)

In [0]:
df_teams.repartition(1).write.mode("overwrite").option("header",'true').csv(
    "abfss://tokyo-olympic-data@tokyoolympicdatarakesh.dfs.core.windows.net/transformed-data/teams"
)